/* montserrat-100 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v25-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-300 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v25-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    padding: 100px 150px;
    max-width: 100%;
    background-color: #0D4B34 !important;
    color: white;
}
.mission{
  /* width: 800px; */
  margin: auto;
  text-align: justify;
  padding-bottom: 50px;
  padding: 0px 100px;
}
.mission h5{
  display: flex;
  justify-content: center !important;
  margin-bottom: 30px;
}
.m-footer{
  padding-top: 50px;
  text-align: left !important;
}
.footer-btn{
  padding: 10px 20px;
  background-color: white;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  color: #0D4B34;
  font-weight: bold;
  margin-top: 50px;
}
.footer-h h5{
  text-transform: uppercase;
  font-weight: bold;
  color: #26C583;
}
.footer-content{
  text-align: left;
  color: white;
  font-weight: 400;
}
.f1 img{
  width: 150px;
}
.third h5{
  color: white !important;
}
.back{
  color: #26C583 !important;
}
.social-icon i{
  padding: 15px 17px;
  border: 1px solid #26C583;
  border-radius: 30px;
  font-size: 20px;
}
.social-icon{
  margin-top: 50px;
}
.social-icon i + i{
  margin-left: 20px;
}
.social-icon a{
  margin-left: 20px;
  color: white;
  font-weight: bold;
  text-underline-offset: 5px;
}
.f-l{
  margin-top: 50px;
  font-weight:bold;
}
@media screen and (min-width: 50px) and (max-width: 576px) {
  .footer{
    padding: 50px;
  }
  .f-l{
    display: none;
  }
  .social-icon i + i{
    margin-left: 5px;
  }
  .social-icon{
    line-height: 70px;
  }
  .social-icon a{
    display: block;
  }
}
@media screen and (max-width:1190px)
{
  .footer{
    padding:0 !important;
  }
}
@media screen and (min-width:767px) and (max-width:925px){
  .footer{
    padding: 50px 0px !important;
  }
}